
<p>
  <strong>ユーザー名:</strong>
  <%= @comment.user_name %>
</p>

<p>
  <strong>内容:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>アイデア:</strong>
  <%= @comment.idea_id %>
</p>

<%= link_to '編集', edit_comment_path(@comment) %> |
<%= link_to '戻る', comments_path %>
